celery==5.3.4
click==8.1.7
Flask==3.0.0
Flask-Login @ git+https://github.com/maxcountryman/flask-login@9862fb0f09cafd3112ab39cd8bdbcce622151292
gunicorn==21.2.0
hiredis==2.2.3
importlib-metadata==4.13.0
numpy==1.26.1
opencv-python==4.8.1.78
pandas==2.1.2
psycopg2==2.9.9
PyYAML==6.0.1
redis==5.0.1
seaborn==0.13.0
SQLAlchemy==2.0.22
sqlparse==0.4.4
tqdm==4.66.1
Werkzeug==3.0.1
