{% set title = ('Files', None, None)%}
{% set button = {'id': 'fileAddButton', 'class': 'btn btn-success btn-md', 'label': 'ADD FILES', 'target': 'fileAddModal', 'modal_target': True} %}

{% extends "root.html" %}

{% block title %}
    Files
{% endblock %}

{% block table %}
{#
TODO: Add a paragraph or two of instructions on how this all works
      Could inherit from a single template for both this and pending_root
#}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-processed-tab" data-bs-toggle="tab" data-bs-target="#nav-processed" type="button" role="tab" aria-controls="nav-processed" aria-selected="true">Processed</button>
    <button class="nav-link" id="nav-pending-uploads-tab" data-bs-toggle="tab" data-bs-target="#nav-pending-uploads" type="button" role="tab" aria-controls="nav-pending-uploads" aria-selected="false">Pending Uploads</button>
    <button class="nav-link" id="nav-pending-discoveries-tab" data-bs-toggle="tab" data-bs-target="#nav-pending-discoveries" type="button" role="tab" aria-controls="nav-pending-discoveries" aria-selected="false">Pending Discoveries</button>
    <button class="nav-link" id="nav-deleted-tab" data-bs-toggle="tab" data-bs-target="#nav-deleted" type="button" role="tab" aria-controls="nav-deleted" aria-selected="false">Deleted</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">
     <button id="processButton" class="btn btn-success" type="button" onclick="processSelected('processedFileTable')"><b>Process Selected</b></button>
     <button id="deleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('processedFileTable')"><b>Delete Selected</b></button>
     <button id="refreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('processedFileTable')"><b>Refresh List</b></button>
    {{ components.table('processedFileTable', data['files']) }}
  </div>
  <div class="tab-pane fade" id="nav-pending-uploads" role="tabpanel" aria-labelledby="nav-pending-uploads-tab">
    <div class="d-block pt-2">
      <button id="processButton" class="btn btn-success" type="button" onclick="processSelected('pendingFileTable')"><b>Process Selected</b></button>
      <button id="deleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('pendingFileTable')"><b>Delete Selected</b></button>
      <button id="refreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('pendingFileTable')"><b>Refresh List</b></button>
    </div>
    {{ components.table('pendingFileTable', data['pending_files']) }}
  </div>
  <div class="tab-pane fade" id="nav-pending-discoveries" role="tabpanel" aria-labelledby="nav-pending-discoveries-tab">
    <div class="d-block pt-2">
      <button id="processButton" class="btn btn-success" type="button" onclick="processSelected('discoveredFileTable')"><b>Process Selected</b></button>
      <button id="deleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('discoveredFileTable')"><b>Delete Selected</b></button>
      <button id="refreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('discoveredFileTable')"><b>Refresh List</b></button>
    </div>
    {{ components.table('discoveredFileTable', data['discovered_files']) }}
  </div>
  <div class="tab-pane fade" id="nav-deleted" role="tabpanel" aria-labelledby="nav-deleted-tab">...</div>
</div>
{% endblock %}

{% block modal %}
    {{ components.modal('fileAddModal', 'Add Files', file.add(), size='xl') }}
    {{ components.modal('fileProcessModal', 'Process Files', file.process(), size='xl') }}
{% endblock %}

{% block scripts %}
{{ scripts.set_form_options() }}
{{ scripts.format_table('processedFileTable', dom="flipt", paging=True, pagelength=25, serverside=url_for('file.processed_datatable')) }}
{{ scripts.format_table('pendingFileTable', dom="fliBpt", paging=True, lengthmenu=[[25, 50, 100, -1], [25, 50, 100, "All"]], pagelength=25, selectable=True) }}
{{ scripts.format_table('discoveredFileTable', dom="fliBpt", paging=True, lengthmenu=[[25, 50, 100, -1], [25, 50, 100, "All"]], pagelength=25, selectable=True, serverside=url_for('file.discovered_datatable')) }}
<script type="application/javascript">
Dropzone.autoDiscover = false;
var myDropzone = new Dropzone("div#fileDropzone", {
    url: "{{ url_for('file.upload') }}",
    parallelUploads: 2,
    chunking: true,
    forceChunking: true,
    chunkSize: 2000000,
    maxFilesize: 2048,
    paramName: "file",
    createImageThumbnails: true,
    addRemoveLinks: true,
    renameFile: function(file) {
      return "temp.{{ data['uploads_id'] }}." + file.name
    },
    /*headers: {
      uploads_id: "{{ data['uploads_id'] }}"
    },*/
    // This seems to mess with the chunking
    /*params: {
      uploads_id: "{{ data['uploads_id'] }}"
    },*/
  
    init: function () {
    var _this = this;
      $('button#cancelButton').click(function() {_this.removeAllFiles(true)});
    },
    
    // TODO: Fix this so it waits until the promise is resolved
    /*renameFile: function (file) {
      return resolveFilenameJSON(file).then(file => {file;});
    },*/
    
    processing: function () {
      $('button#submitButton').prop('disabled', true);
    },
    
    success: function (file, response) {
      $('button#submitButton').prop('disabled', false);
    },
});

{#
$('button#submitButton').click(function() {
  console.log(myDropzone.files);
  let files = [];
  for (let i=0; i<myDropzone.files.length; i++) {
    console.log(myDropzone.files[i]);
    console.log(myDropzone.files[i].name);
    files.push(myDropzone.files[i].name);
  }
  $('input#files').prop('value', files.join());
});
#}


async function resolveFilenameJSON(filename) {
  var response = await fetch('process_filename/' + filename);
  var newfile = await response.json();
  {return newfile.file};
}

function getSelections(tid) {
  let table = tables.get(tid);
  let selections = table.rows({ selected: true, filter: 'none'}).indexes()
  console.log(selections);
  return selections;
}

function deleteSelected(tid) {
  //TODO: Finish method
  selections = getSelections(tid);
}
function processSelected(tid) {
  //TODO: Finish method
  selections = getSelections(tid);
  
}
function refreshList(tid) {
  if (tid == 'discoveredFileTable'){
    // call method to load the discovery files
    // put the spinner on until it completes
  }
  if (tid == 'processedFileTable'){
    // call method to load the processed files
    // put the spinner on until it completes
  }
}
/*
DEFAULT DROPZONE OPTIONS
------------------------

    url: "{{ url_for('file.upload') }}",
    method: "post",
    withCredentials: false,
    timeout: null,
    parallelUploads: 2,
    uploadMultiple: false,
    chunking: false,
    forceChunking: false,
    chunkSize: 1000000,
    parallelChunkUploads: false,
    retryChunks: false,
    retryChunksLimit: 3,
    maxFilesize: 2048,
    paramName: "file",
    createImageThumbnails: true,
    maxThumbnailFilesize: 10,
    thumbnailWidth: 120,
    thumbnailHeight: 120,
    thumbnailMethod: "crop",
    resizeWidth: null,
    resizeHeight: null,
    resizeMimeType: null,
    resizeQuality: 0.8,
    resizeMethod: "contain",
    filesizeBase: 1000,
    maxFiles: null,
    headers: null,
    clickable: true,
    ignoreHiddenFiles: true,
    acceptedFiles: null,
    acceptedMimeTypes: null,
    autoProcessQueue: true,
    autoQueue: true,
    addRemoveLinks: true,
    previewsContainer: null,
    disablePreviews: false,
    hiddenInputContainer: "body",
    capture: null,
    renameFilename: null,
    renameFile: null,
    forceFallback: false,

*/
</script>
{% endblock %}