{% set title = ('Files', None, None)%}
{% set button = {'id': 'fileAddButton', 'class': 'btn btn-success btn-md', 'label': 'ADD FILES', 'target': 'fileAddModal', 'modal_target': True} %}

{% extends "root.html" %}

{% block title %}
    Files
{% endblock %}

{% block table %}
{#
TODO: Add a paragraph or two of instructions on how this all works
      Could inherit from a single template for both this and pending_root
#}
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-processed-tab" data-bs-toggle="tab" data-bs-target="#nav-processed" type="button" role="tab" aria-controls="nav-processed" aria-selected="true">Processed</button>
    <button class="nav-link" id="nav-pending-uploads-tab" data-bs-toggle="tab" data-bs-target="#nav-pending-uploads" type="button" role="tab" aria-controls="nav-pending-uploads" aria-selected="false">Pending Uploads</button>
    <button class="nav-link" id="nav-pending-discoveries-tab" data-bs-toggle="tab" data-bs-target="#nav-pending-discoveries" type="button" role="tab" aria-controls="nav-pending-discoveries" aria-selected="false">Pending Discoveries</button>
    <button class="nav-link" id="nav-deleted-tab" data-bs-toggle="tab" data-bs-target="#nav-deleted" type="button" role="tab" aria-controls="nav-deleted" aria-selected="false">Deleted</button>
  </div>
</nav>
{# Download process and delete buttons should be disabled unless the table has a selection #}
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-processed" role="tabpanel" aria-labelledby="nav-processed-tab">
    <div class="d-block w-100 pt-2 pb-2" style="height: 50px;">
      <div class="d-block float-start">
       <button id="processRefreshButton" class="btn btn-primary" type="button" onclick="refreshList('processedFileTable')"><b>Refresh List</b></button>
       <button id="processDownloadButton" class="btn btn-secondary" type="button" onclick="downloadSelected('processedFileTable')" disabled><b>Download Selected</b></button>
       <button id="processDetailsButton" class="btn btn-secondary" type="button" onclick="viewDetails('processedFileTable')" disabled><b>View Details</b></button>
      </div>
      <div class="d-block float-end">
       <button id="processEditButton" class="btn btn-warning" type="button" onclick="processSelected('processedFileTable')" disabled><b>Edit Selected</b></button>
       <button id="processDeleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('processedFileTable')" disabled><b>Delete Selected</b></button>
      </div>
    </div>
    <div class="d-block w-100">
      {{ components.table('processedFileTable', data['files'], columns=['filename', 'level', 'owner', 'description', 'uploaded']) }}
    </div>
  </div>
  <div class="tab-pane fade" id="nav-pending-uploads" role="tabpanel" aria-labelledby="nav-pending-uploads-tab">
    <div class="d-block pt-2">
      <button id="pendingProcessButton" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#fileProcessModal" onclick="processSelected('pendingFileTable')"  disabled>
        <b>Process Selected</b>
      </button>
      <button id="pendingDeleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('pendingFileTable')" disabled><b>Delete Selected</b></button>
      <button id="pendingRefreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('pendingFileTable')"><b>Refresh List</b></button>
      <button id="pendingDownloadButton" class="btn btn-secondary" type="button" onclick="downloadSelected('pendingFileTable')"  disabled><b>Download Selected</b></button>
    </div>
    {{ components.table('pendingFileTable', data['pending_files']) }}
  </div>
  <div class="tab-pane fade" id="nav-pending-discoveries" role="tabpanel" aria-labelledby="nav-pending-discoveries-tab">
    <div class="d-block pt-2">
      <button id="discoveredProcessButton" class="btn btn-success" type="button" onclick="processSelected('discoveredFileTable')"  disabled><b>Process Selected</b></button>
      <button id="discoveredDeleteButton" class="btn btn-danger" type="button" onclick="deleteSelected('discoveredFileTable')"  disabled><b>Delete Selected</b></button>
      <button id="discoveredRefreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('discoveredFileTable')"><b>Refresh List</b></button>
      <button id="discoveredDownloadButton" class="btn btn-secondary" type="button" onclick="downloadSelected('discoveredFileTable')"  disabled><b>Download Selected</b></button>
    </div>
    {{ components.table('discoveredFileTable', data['discovered_files']) }}
  </div>
  <div class="tab-pane fade" id="nav-deleted" role="tabpanel" aria-labelledby="nav-deleted-tab">
    <div class="d-block pt-2">
      <button id="deletedRestoreButton" class="btn btn-success" type="button" onclick="restoreSelected('deletedFileTable')" disabled><b>Restore Selected</b></button>
      <button id="deletedPurgeButton" class="btn btn-danger" type="button" onclick="deleteSelected('deletedFileTable')" disabled><b>Purge Selected</b></button>
      <button id="deletedRefreshButton" class="btn btn-primary ms-5" type="button" onclick="refreshList('deletedFileTable')" disabled><b>Refresh List</b></button>
    </div>
    {{ components.table('deletedFileTable', data['deleted_files']) }}
  </div>
  </div>
</div>
{% endblock %}

{% block modal %}
    {{ components.modal('fileAddModal', 'Add Files', file.add(), size='xl') }}
    {{ components.modal('fileProcessModal', 'Process Files', file.process(), size='xl') }}
{% endblock %}

{% block scripts %}
{{ scripts.set_form_options() }}
{{ scripts.format_table('processedFileTable', dom="fliBpt", paging=True, pagelength=25, selectable=True, serverside=url_for('file.processed_datatable')) }}
{{ scripts.format_table('pendingFileTable', dom="fliBpt", paging=True, lengthmenu=[[25, 50, 100, -1], [25, 50, 100, "All"]], pagelength=25, selectable=True) }}
{{ scripts.format_table('discoveredFileTable', dom="fliBpt", paging=True, lengthmenu=[[25, 50, 100, -1], [25, 50, 100, "All"]], pagelength=25, selectable=True, serverside=url_for('file.discovered_datatable')) }}
{{ scripts.format_table('deletedFileTable', dom="fliBpt", paging=True, lengthmenu=[[25, 50, 100, -1], [25, 50, 100, "All"]], pagelength=25, selectable=True) }}
<script type="application/javascript">

catchSelections();

function selectionChanged(e, dt, type, indexes) {
  let tid = e.currentTarget.id;
  let num_selections = getSelections(tid).length;
  if (tid == 'processedFileTable') {
    document.getElementById('processEditButton').disabled = (num_selections == 0);
    document.getElementById('processDeleteButton').disabled = (num_selections == 0);
    document.getElementById('processDownloadButton').disabled = (num_selections == 0);
    document.getElementById('processDetailsButton').disabled = !(num_selections == 1);    
  } else if (tid == 'pendingFileTable') {
    document.getElementById('pendingProcessButton').disabled = (num_selections == 0);
    document.getElementById('pendingDeleteButton').disabled = (num_selections == 0);
    document.getElementById('pendingDownloadButton').disabled = (num_selections == 0);
  } else if (tid == 'discoveredFileTable') {
    document.getElementById('discoveredProcessButton').disabled = (num_selections == 0);
    document.getElementById('discoveredDeleteButton').disabled = (num_selections == 0);
    document.getElementById('discoveredDownloadButton').disabled = (num_selections == 0);
  } else { // == 'deletedFileTable'
    document.getElementById('deletedRestoreButton').disabled = (num_selections == 0);
    document.getElementById('deletedPurgeButton').disabled = (num_selections == 0);
  } 
  
}

function catchSelections() {
  let processed_file_table = tables.get('processedFileTable');
  let pending_file_table = tables.get('pendingFileTable');
  let discovered_file_table = tables.get('discoveredFileTable');
  let deleted_file_table = tables.get('deletedFileTable');
  
  processed_file_table.on('select', selectionChanged);
  pending_file_table.on('select', selectionChanged);
  discovered_file_table.on('select', selectionChanged);
  deleted_file_table.on('select', selectionChanged);
  
  processed_file_table.on('deselect', selectionChanged);
  pending_file_table.on('deselect', selectionChanged);
  discovered_file_table.on('deselect', selectionChanged);
  deleted_file_table.on('deselect', selectionChanged);
}

Dropzone.autoDiscover = false;
var myDropzone = new Dropzone("div#fileDropzone", {
    url: "{{ url_for('file.upload') }}",
    parallelUploads: 2,
    chunking: true,
    forceChunking: true,
    chunkSize: 2000000,
    maxFilesize: 2048,
    paramName: "file",
    createImageThumbnails: true,
    addRemoveLinks: true,
    renameFile: function(file) {
      return "temp.{{ data['uploads_id'] }}." + file.name
    },  
    init: function () {
    var _this = this;
      $('button#cancelButton').click(function() {_this.removeAllFiles(true)});
    },
    
    processing: function () {
      $('button#submitButton').prop('disabled', true);
    },
    
    success: function (file, response) {
      $('button#submitButton').prop('disabled', false);
    },
});

keepAlive();

function keepAlive() {
    let xhttp = new XMLHttpRequest();
    xhttp.open('POST', "{{ url_for('file.check_in') }}", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("uploads_id={{ data['uploads_id'] }}");
    setTimeout(keepAlive, {{ polling_freq }});
}

function getSelections(tid) {
  let table = tables.get(tid);
  let selections = table.rows({ selected: true, filter: 'none'}).indexes()
  return selections;
}

function deleteSelected(tid) {
  //TODO: Finish method
  let selections = getSelections(tid);
}
function processSelected(tid) {
  //TODO: reset the form values and set the hidden values to the indexes of the selections and the table that was used
  document.getElementById('level_default_option').selected = true;
  document.getElementById('description_default_option').selected = true;
  document.getElementById('organization_default_option').selected = true;
  document.getElementById('deployment_default_option').selected = true;
  document.getElementById('mooring_default_option').selected = true;
  document.getElementById('equipment_default_option').selected = true;
  document.getElementById('comments').value = '';
  document.getElementById('level').value = 'unowned';
  levelChanged();
  organizationChanged();
  // set the selection indexes into the form and tell the system which files you are working with.  
  let selections = getSelections(tid);
  console.log(selections);
  
}
function downloadSelected(tid) {
  //TODO: Finish method
  let selections = getSelections(tid);
  
}
function refreshList(tid) {
  if (tid == 'discoveredFileTable'){
    // call method to recompute the discovery files on the server
    // show the spinner until it completes
    // reload the table by forcing datatable to make a server request
  }
  if (tid == 'processedFileTable'){
    // call method to recompute the processed files on the server
    // show the spinner until it completes
    // reload the table by forcing datatable to make a server request
  }
  if (tid == 'pendingFileTable'){
  
  }
}

/*
DROPZONE OPTIONS (with default values)
--------------------------------------

    url: "{{ url_for('file.upload') }}",
    method: "post",
    withCredentials: false,
    timeout: null,
    parallelUploads: 2,
    uploadMultiple: false,
    chunking: false,
    forceChunking: false,
    chunkSize: 1000000,
    parallelChunkUploads: false,
    retryChunks: false,
    retryChunksLimit: 3,
    maxFilesize: 2048,
    paramName: "file",
    createImageThumbnails: true,
    maxThumbnailFilesize: 10,
    thumbnailWidth: 120,
    thumbnailHeight: 120,
    thumbnailMethod: "crop",
    resizeWidth: null,
    resizeHeight: null,
    resizeMimeType: null,
    resizeQuality: 0.8,
    resizeMethod: "contain",
    filesizeBase: 1000,
    maxFiles: null,
    headers: null,
    clickable: true,
    ignoreHiddenFiles: true,
    acceptedFiles: null,
    acceptedMimeTypes: null,
    autoProcessQueue: true,
    autoQueue: true,
    addRemoveLinks: true,
    previewsContainer: null,
    disablePreviews: false,
    hiddenInputContainer: "body",
    capture: null,
    renameFilename: null,
    renameFile: null,
    forceFallback: false,

*/
</script>
{% endblock %}