<!-- Modal -->
{#
Variables:

`id`       :str [Required]
`title`    :str [Required]
`contents` :str [Required] representing html to put as contents of the modal
`size`     :str [Optional] defualt 'md' options are ('sm', 'md', 'lg', 'xl', 'fullscreen')
#}
<div class="modal fade" id="{{ id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ id }}Title" aria-hidden="true">
  <div class="modal-dialog modal-{{ size }}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ id }}Title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      {{ contents|safe }}
      </div>
    </div>
  </div>
</div>