{% set title = (data['equipment']['item'] + ' [' + data['equipment']['serial_number'] + ']', None, None) %}
{% set button = {'id': 'equipmentEditButton', 'class': 'btn btn-warning btn-md', 'label': 'EDIT EQUIPMENT', 'target': url_for('equipment.edit', eid=data['equipment']['id']), 'modal_target': False} %}
{% set summary_keys = ['item', 'serial_number', 'make_&_model', 'owner', 'status', 'comments'] %}


{% extends "main.html" %}

{% block title %}
    {{ title[0] }}
{% endblock %}

{% block content %}

    {{ components.summary('equipmentSummary', data['equipment'], summary_keys) }}
    
    <h2>Deployments</h2>
    {{ components.table('deploymentsTable', data['deployments']) }}
    
{% endblock %}

{% block scripts %}
    {{ scripts.format_table('deploymentsTable', header=False) }} 
{% endblock %}
