<form class="row g-3" method="POST" {# enctype="multipart/form-data" #} action="{{ url_for('file.add') }}">
  <div id="fileDropzone" class="dropzone" required></div>
  <input type="hidden" id="files" name="files" value="">
  <div class="col-md-2">
    <button id="submitButton" type="submit" class="btn btn-primary" disabled>Submit</button>
  </div>
  <div class="col-md-2">
    <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
  </div>
</form>