<div class='d-block'>
  <form id="submitForm" method="POST" action="{{ url_for('file.submit') }}">
    <div id="fileDropzone" class="dropzone" required></div>
    <input type="hidden" id="uploads_id" name="uploads_id" value="{{ data['uploads_id'] }}">
  </form>
  <form id="cancelForm" method="POST" action="{{ url_for('file.cancel') }}">
    <input type="hidden" id="uploads_id" name="uploads_id" value="{{ data['uploads_id'] }}">
  </form>
</div>
<div class="d-block pt-2">
  <button id="submitButton" type="submit" class="btn btn-primary" form="submitForm" disabled>Submit</button>
  <button id="cancelButton" type="submit" class="btn btn-secondary" data-bs-dismiss="modal" form="cancelForm">Cancel</button>
</div>

{#
   How to deal with the case where the user unexpected becomes disconnected?
     - should treat this as a cancel
#}