{% set title = ('Admin Options', None, None) %}
{% set button = none %}

{% extends "main.html" %}

{% block title %}
    {{ title[0] }}
{% endblock %}

{% block content %}
<div id="flashed_messages">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="text-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<ul class="list-inline">
  <li class='p-1'><button class="btn btn-primary" onclick="window.location.href='{{ url_for('user.password_change', required=False) }}'">Change Your Password</button></li>
  <hr>
  <li class='p-1'><button id="userCreateButton" class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#userCreateModal" disabled>Create A User</button></li>
  <li class='p-1'><button id="userDeleteButton" class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#userDeleteModal" disabled>Remove A User</button></li>
  <li class='p-1'><button id="userResetButton" class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#userResetModal"  disabled>Reset A User's Password</button></li>
</ul>

{{ components.modal('userCreateModal', 'Create User', user.create()) }}
{{ components.modal('userDeleteModal', 'Delete User', user.delete()) }}
{{ components.modal('userResetModal', 'Reset User Password', user.reset_password()) }}

{% endblock %}