{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block style %}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>
{% endblock %}

{% block navbar %}
{{ components.navbar(logout_only=data['logout_only']) }}
{% endblock %}


{% block content %}
<div class="pt-5 w-25 mx-auto">
<form method="POST">
  <div class="text-center">
    <img class="mb-4" src="{{ url_for('static', filename='images/csiro_logo.png') }}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
  </div>
  <div id="flashed_messages">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="text-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
  {% endwith %}
  </div>
  <label for="current_password" class="sr-only pt-2">Current Password</label>
  <input type="password" id="current_password" name="current_password" class="form-control" placeholder="Password" autocomplete='current-password' required>
  <label for="new_password" class="sr-only pt-2">New Password</label>
  <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Password" autocomplete='new-password' onfocusout="verifyConditions()" required>
  <label for="confirmed_new_password" class="sr-only pt-2">Confirm New Password</label>
  <input type="password" id="confirmed_new_password" name="confirmed_new_password" class="form-control" placeholder="Password" autocomplete='new-password' onfocusout="verifyMatch()" required>
  <input id="username" name="username" type="hidden" value="{{ data['username'] }}" autocomplete="username" required>
  <div class="text-center pt-3">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </div>
</form>
</div>
{% endblock %}
{% block scripts %}
<script>
function verifyMatch(){
  flashed_messages = document.getElementById('flashed_messages');
    while (flashed_messages.lastChild) {
      flashed_messages.removeChild(flashed_messages.lastChild);
  }
  new_password = document.getElementById('new_password');
  confirmed_new_password = document.getElementById('confirmed_new_password');
  if (new_password.value != confirmed_new_password.value) {
    let p = document.createElement('p');
    p.classList.add('text-danger');
    p.innerHTML = 'New password entries do not match.  '
    flashed_messages.appendChild(p);
    new_password.value = '';
    confirmed_new_password.value = '';
  } 
}

function verifyConditions(){
  let reset_password_field = false;
  flashed_messages = document.getElementById('flashed_messages');
  while (flashed_messages.lastChild) {
    flashed_messages.removeChild(flashed_messages.lastChild);
  }
  new_password = document.getElementById('new_password');
  current_password = document.getElementById('current_password');
  if (new_password.value == ''){
    return
  }
  if (new_password.value.length < 6) {
    let p = document.createElement('p');
    p.classList.add('text-danger');
    p.innerHTML = 'New password must be a minimum of 6 characters.  ';
    flashed_messages.appendChild(p);
    reset_password_field = true;
  } 
  if (new_password.value == current_password.value) {
    let p = document.createElement('p');
    p.classList.add('text-danger');
    p.innerHTML = 'New password must differ from current password.  ';
    flashed_messages.appendChild(p);
    reset_password_field = true;
  }
  if (reset_password_field) {
    new_password.value = '';
    new_password.focus();
  }
}
</script>
{% endblock %}