{% set title = (data['organization']['abbreviation'], data['organization']['name'], data['organization']['country']) %}
{% set button = {'id': 'organizationEditButton', 'class': 'btn btn-warning btn-md', 'label': 'EDIT ORGANIZATION', 'target': url_for('organization.edit', oid=data['organization']['id']), 'modal_target': False} %}

{% extends "main.html" %}

{% block title %}
    {{ title[0] }} Details
{% endblock %}

{% block content %}
  {# TODO: Insert data['organization']['comments'] if they are not None #}
    {#<div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(95,95,95); width: 100%; color: white;">#}
    <div style="width: 100%; height:70%;">
      {#<div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); float:left; height: 100%; width: 16%;">#}
      <div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); float:left; height: 100%; width: 16%; border-left: 5px solid white; border-bottom: 5px solid white;">
        <h2>Contacts</h2>
        <div style="flex-grow: 1; overflow-y: auto;">
        {{ components.contactcards(data['contacts'], 2) }}
        </div>
      </div>
      {#<div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(245,245,245); float:left;  height: 100%; width: 42%;">#}
      <div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); float:left;  height: 100%; width: 42%; border-left: 5px solid white; border-bottom: 5px solid white;">
        <h2>Deployments</h2>
        <div style="flex-grow: 1; overflow-y: auto;">
        {{ components.table('deploymentsTable', data['deployments']) }} 
        </div>
      </div>
      {#<div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); float:left;  height: 100%; width: 42%;">#}
      <div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); float:left;  height: 100%; width: 42%;  border-left: 5px solid white; border-right: 5px solid white; border-bottom: 5px solid white;">
        <h2>Equipment</h2>
        <div style="flex-grow: 1; overflow-y: auto;">
        {{ components.table('equipmentsTable', data['equipment']) }}
        </div>
      </div>
    </div>
    <div style="padding: 0px 5px 0px 5px; display: flex; flex-flow: column; background-color: rgb(235,235,235); width: 100%; height: 30%; border: 5px solid white;">
      <h2>Documents</h2>
      <div style="flex-grow: 1; overflow-y: auto;">
      {{ components.table('ofilesTable', data['ofiles']) }}
      </div>
    </div>
  {{ components.modal('organizationDeleteModal', 'Delete Organization', organization.delete()) }}
{% endblock %}

{% block scripts%}
    {{ scripts.format_table('deploymentsTable', header=False) }}
    {{ scripts.format_table('ofilesTable', header=False) }}
    {{ scripts.format_table('equipmentsTable', header=False) }}
    <script>
      window.onload = resize_contents;
      window.onresize = resize_contents;
    </script>
{% endblock %}
<!--<img class="ms-3" src="{{ url_for('static', filename='/icons/plus.svg') }}" height="22" width="22"/>-->